<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dejamobile.ardeco.lib">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.nfc.hce" android:required="true" />

    <permission
        android:name="com.dejamobile.hce.mc.library.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.dejamobile.hce.mc.library.permission.C2D_MESSAGE" />

    <application
        android:name="com.dejamobile.ardeco.application.ArdecoLibrary"
        android:allowBackup="true"
        android:label="@string/app_name">

        <service android:name="com.dejamobile.ardeco.hce.ContactlessEntryPoint"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE"/>
            </intent-filter>
            <meta-data android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/apduservice"/>
        </service>

        <service
            android:name="com.dejamobile.ardeco.lib.ServiceEntryPoint"
            android:exported="false">
            <intent-filter>
                <action android:name="com.dejamobile.ardeco.lib.IServiceEntryPoint" />
            </intent-filter>
        </service>


    </application>

</manifest>
